 
.top-header-screen {
  width: 360px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);   
  font-family: "Inter", sans-serif; 
}

.top-bar{
  display: flex;  
  align-items: center;  
  justify-content: space-between;
}

.top-bar div {
  display: flex; 
  align-items: center; 
  font-size: 14px;
  color: #333; 
}

.top-bar div .back-arrow {
  font-size: 18px;
  margin-bottom: 10px;  
  cursor: pointer;
}

.top-bar div h2 { 
  font-weight: 400; 
  padding: 0 10px;
}
  
.upload-food-body .we-ll-text{
  font-size: 14px;
  letter-spacing: .5px;
  color: #767676; 
  line-height: 30px; 
  margin: 0px 20px 15px 20px;
  display: block;
}
 
.upload-food-body .content-data-section{
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  height: 296px;  
  width: 328px;
  margin: 20px 15px;
  padding: 15px;
}

.upload-food-body .single-btn{
  display: block;
  margin: auto;
  width: 328px;
  height: 92px; 
  margin-top: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 2px solid #40404065;
  cursor: pointer;
  transition: .3s;
}

.upload-food-body .single-btn:hover{
  box-shadow: 0px 0px 10px #4e46e542;
}

.upload-food-body .single-btn div{
  display: flex;
  flex-direction: column; 
  padding: 10px 15px 0 15px;
} 
.upload-food-body .single-btn div h4{
  color: #4F46E5; 
  font-weight: 600;
}
.upload-food-body .single-btn div p{ 
  letter-spacing: .5px;
  line-height: 20px;
  font-size: 14px;
}

.upload-food-body .table-details-formate{
  background: #F3F5F7;
  border-radius: 5px; 
}
.upload-food-body .table-details-formate{
  font-size: 12px;
  height: 136px;
  letter-spacing: .5px;
  padding: 15px;
  color: #767676;
  display: flex;  
  flex-direction: column; 
  justify-content: space-between; 
}  

.upload-food-body .table-details-formate div{  
  display: flex; 
  align-items: center;   
} 
.upload-food-body .table-details-formate div:first-child{  
  font-size: 14px;
  color: #656565;
} 

.upload-food-body .table-details-formate div span{
  flex: 1; 
} 

.upload-food-body  .file-upload-footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 16px; 
  position: absolute;
  bottom: 16px;
  text-align: center; 
  left: 50%;
  transform: translate(-50%);
  
}

.upload-food-body  .file-upload-footer  .upload-btn {
  background-color: #4F46E5;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  border: none; 
  cursor: pointer;
  font-size: 15px;
  width: 327px;
  height: 44px;
  margin-bottom: 15px;
}

.upload-food-body  .file-upload-footer  .upload-btn:hover {
  background-color: #2735d1;
}
