
.upload-file-modal-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: end;
}

.modal-content {
  width: 100%; 
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
  padding: 20px; 
  font-family: "Segoe UI", sans-serif;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-header h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.upload-options {
  margin-top: 15px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 12px 14px;
  border-radius: 12px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 20px;
  transition: background 0.2s;
  color: gray;
}

.option:hover {
  background: #ebebeb;
}

 .upload-file-modal-box .upload-file-data-container{
  display: block;
  margin: auto;
  width: 328px; 
  height: 118px; 
  margin-top: 10px;
  background-color: #F3F5F7;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  border-radius: 10px;
  border: 1px solid #c4c4c4; 
  padding: 15px;  
}

 .upload-file-modal-box .upload-file-data-container:hover{
  box-shadow: 0px 0px 10px #4e46e542;
}  
 
.run-prediction-btn{ 
  background-color: #4F46E5;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  width: 327px;
  height: 44px; 
  margin-top: 25px;
  margin-bottom: 20px;
}

.run-prediction-btn:hover {
  background-color: #2735d1;
}

.input-date-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}