 
.top-header-screen {
  width: 360px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 10px;
  /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);    */
  font-family: "Inter", sans-serif; 
}

.top-bar{
  display: flex;  
  align-items: center;  
  justify-content: space-between;
}

.top-bar div {
  display: flex; 
  align-items: center; 
  font-size: 14px;
  color: #333; 
}

.top-bar div .back-arrow {
  font-size: 18px; 
  cursor: pointer;
}

.prediction-summary-tabs{ 
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.prediction-summary-tabs button{
  background-color: transparent;
  border: none; 
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;    
  padding-bottom: 15px;
  color: gray; 
  position: relative; 
}

.prediction-summary-tabs button.active{
  color: #4F46E5; 
}

.prediction-summary-tabs button.active::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 5px;
  background-color: #4F46E5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

 
.prediction-summary-body{ 
  width: 328px;
  margin: 20px 15px; 
} 
 
 
.prediction-summary-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 328; 
  gap: 20px;  
}

.prediction-summary-footer button {
  background-color: #4F46E5;
  color: white;
  padding: 12px 16px;
  letter-spacing: .5px;
  flex: 1;
  border-radius: 5px;
  border: none; 
  cursor: pointer;
  font-size: 15px;  
  height: 44px; 
}

.prediction-summary-body button.trans{
  background-color: transparent;
  border: 1px solid #4F46E5;
  color:#4F46E5;
}
.prediction-summary-body  button:hover {
  background-color: #2735d1;
} 
.prediction-summary-body button.trans:hover{
  background-color: rgb(244, 244, 244); 
}

.prediction-summary-body .higher-range-div{
  background-color: #FFF2EB ;
  width: 328px;
  height: 149px;
  border-radius: 10px;
  border: 1px solid #FEDECD;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.higher-range-div h3{
color: #EC5405;
font-weight: 600;
font-size: 20px;
}
.higher-range-div p{
  font-size: 13px;
  letter-spacing: .5px;
  color: gray;
}
.higher-range-div span{
  padding: 5px 20px;
  border-radius: 50px;
  font-size: 13px;
  color: #AA3A00;
  background-color: #EA580C2e;
}
.modal-accuracy-div{
  border: 1px solid #E5E7EB;
  margin: 15px 0;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.modal-accuracy-div b{
  font-size: 13px;
  color: #6b6b6b;
} 

/* Chart Section */
.chart-section { 
  width: 100%;
  border-radius: 10px; 
  border: 1px solid #E5E7EB;
  padding: 15px; 
}
.chart-section h4 {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}


/* Table Section */
.table-section { 
  margin: 15px 0 25px;
  margin-bottom: 25px;
  background: #fff;
  border: 1px solid #E5E7EB;
  border-radius: 10px; 
}
.table-section table {
  width: 100%; 
  height: 342px; 
  border-collapse: collapse;
}
.table-section tr {
  text-align: center; 
} 
.table-section th,
.table-section td {
  padding: 5px;
  padding-left: 20px;
}
.table-section tbody tr td:nth-child(2),
.table-section thead tr th:nth-child(2){
  padding-left: 40px; 
}
.table-section th {
  background: #f8f8f8; 
  color: #4F46E5;
  font-size: 13px;
  line-height: 20px;
}
.table-section td {
  border-top: 1px solid #eee;
  color: #444;
  font-size: 13px;
}










