 
.top-header-screen {
  width: 360px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 10px;
  /* box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);    */
  font-family: "Inter", sans-serif; 
}

.top-bar{
  display: flex;  
  align-items: center;  
  justify-content: space-between;
}

.top-bar div {
  display: flex; 
  align-items: center; 
  font-size: 14px; 
  color: #333; 
}

.top-bar div .back-arrow {
  font-size: 18px;
  margin-bottom: 10px;  
  cursor: pointer;
}

.top-bar div h2 { 
  font-weight: 400; 
  padding: 0 10px;
}

.manual-entry-body{ 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.manual-entry-body .add-food-details-date-section{ 
  height: 80px;
  border-top: 1px solid #F3F5F7;
  color: #4F46E5;
  width: 100%;
  display: flex;
  padding: 0px 18px; 
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
} 
 
.manual-entry-body .form-section{
  background: #F3F5F7;
  width: 328px; 
  border-radius: 10px;    
  padding: 20px 12px;
}
.manual-entry-body .form-section label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px; 
  color: #1a1a1a; 
}

.manual-entry-body .form-section .required {
  color: #1a1a1a;
  margin-left: 2px;
}

.manual-entry-body .form-section input {
  width: 304px;
  height: 44px;
  padding: 0 10px; 
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background: #ffffff;
  outline: none;
  margin: 15px 0 30px 0;
}

 
.manual-entry-body .form-section .select {
  width: 304px;
  height: 44px; 
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #c4c4c4; 
  outline: none;
  border: none;
  margin: 15px 0 30px 0;
}


.manual-entry-body .form-section .save-date-btn {
  background-color: #4F46E5;
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  width: 304px;
  height: 44px;
  margin-bottom: 15px;
}

.manual-entry-body .form-section .add-another-food-btn{

  color: #4F46E5; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: none;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  width: 304px;
  height: 44px;
  margin-bottom: 15px;
}

.manual-entry-body .form-section .save-date-btn:hover {
  background-color: #2735d1;
}

.manual-entry-body .form-section .number-servings-btn-group{
  display: flex;
  gap: 10px;
}
