
.file-upload-modal-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: end;
}

.modal-content {
  width: 100%; 
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.25);
  padding: 20px;
  animation: fadeIn 0.25s ease-out;
  font-family: "Segoe UI", sans-serif;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-header h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.upload-options {
  margin-top: 15px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7f7f7;
  padding: 12px 14px;
  border-radius: 12px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 20px;
  transition: background 0.2s;
  color: gray;
}

.option:hover {
  background: #ebebeb;
}
 
 

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

 .single-btn{
  display: block;
  margin: auto;
  width: 100%; 
  height: 70px; 
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;  
  padding: 10px; 
  cursor: pointer;
  transition: .3s;
}

 .single-btn:hover{
  box-shadow: 0px 0px 10px #4e46e542;
}

 .single-btn div{
  display: flex;
  flex-direction: column; 
  padding: 10px 15px 0 15px;
  flex: 1;
} 
 .single-btn div h4{
  color: #4F46E5; 
  font-weight: 600;
}
 .single-btn div p{ 
  letter-spacing: .5px;
  line-height: 20px;
  font-size: 14px;
}
 