*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body,#root {
  height: 100%; 
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #0b1020;
  color: white;
}

.title {
  text-align: center;
  color: #ddd; 
  font-size: 18px;
}
